@mixin media-mobile{

    @media screen and (max-width:500px) {


        .container{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            margin: auto;
            gap: 20px;
    
            .card{
                grid-column: 1;
    
                &-1{
                    grid-row: 1 /2;
                }
    
                &-2{
                    grid-row: 2 / 3;
                }
    
                &-3{
                    grid-row: 3 / 4;
                }
    
                &-4{
                    grid-row: 4 / 5;
                }
                &-5{
                    grid-row: 5 / 6;
                }
            }
        }
        
    }


    

}

@mixin media-ipad {

    @media (min-width:501px) and (max-width:811px) {


        .container{
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            margin: auto;
            gap: 20px;
    
            .card{
              
    
                &-1{
                    grid-column: 1 / 2;
                    grid-row: 1 /2;

                }
    
                &-2{
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }
    
                &-3{
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
    
                &-4{
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
                &-5{
                    grid-column: 1 / 3;
                    grid-row: 3 / 4;
                }

                .person-kw{
                    max-width: 180px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .img{


                        &::before{
                            content:"" ;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 56px;
                            height: 56px;
                            background-color: transparent;
                            border: 3px solid rgb(118, 43, 189) ;
                            border-radius: 50%;
                        }
                        
                        img{
                            border-radius: 50%;
                        }
                    }
            
            
                }
            }
        }
        
    }
    
}


@mixin media-ipad-rotate {

    @media (min-width:812px) and (max-width:1081px) {


        .container{
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            margin: auto;
            gap: 20px;
    
            .card{
              
    
                &-1{
                    grid-column: 1 / 2;
                    grid-row: 1 /2;

                }
    
                &-2{
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }
    
                &-3{
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
    
                &-4{
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
                &-5{
                    grid-column: 1 / 3;
                    grid-row: 3 / 4;
                }


                
            }
        }
        
    }
    
}

@mixin stats-preview-card-component {

    @media screen and (max-width:500px) {

        .wrap{
            height: max-content;
            padding: 10px;
            .container{
                
                border-radius: 70px;
                
                .card{
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: center;
                    
                    margin-bottom: 10px;
                    .article{
                        
                        flex-direction: column;
                        justify-content: center;
                        justify-content: center;
                        text-align: center;
                        border-radius: 0;
    
                        h1{
                            font-size: 1.5rem;
                            margin-top: 1.5rem;
                        }

                        p{
                            text-align: center ;
                        
                        }
    
                        .numbers{
                            flex-direction: column;

                            > :nth-child(2){
                                margin: 1.5rem 0;
                            }
                        }
                    }

                    .img{
                        position: relative;
                        
        
                        img{
                            
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                            border-bottom-right-radius: 0px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: hsla(284, 76%, 30%, 0.736);
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                            border-bottom-right-radius: 0px;
                            
                        }
                    }
                    
                    

                }
                
            }
        }
    } 



    
}