//neutral//

$very-dark-blue-bg-main:hsl(217, 54%, 11%);
$very-dark-blue-bg-card:hsl(216, 50%, 16%);
$very-dark-blue-line:hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);

//primary//

$soft-blue:hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);
$slightly-transparent-white-heading:hsla(0, 0%, 100%, 0.6);