@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;500&display=swap');


$roboco:'Roboto', sans-serif;
$open-sans:'Open Sans', sans-serif;


body{
    font-size: 15px;
    font-family: $open-sans;
}